// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat-container {
  // background: red;
  padding-left: 30px;
  margin-left: 20px;
  width: 700px;
}

.qa {
  // background: lightgrey;
  padding: 5px;
  padding-left: 15px;
  margin-top: 15px;
  border-left: 10px solid grey;
}

#answer {
  background: #FEFFE1;
}


body {
  font-family: arial;
  color: grey;
}

p {
  margin-top: 30px;
}
